{% extends 'base.html.twig' %}

{% block title %}Liste des étudiants{% endblock %}

{% block body %}
    <h1>Liste des étudiants</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for etudiant in etudiants %}
                <tr>
                    <td>{{ etudiant.nom }}</td>
                    <td>{{ etudiant.prenom }}</td>
                    <td>{{ etudiant.email }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun étudiant trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
